<div class='back-color'>
<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input 
            type="text" 
            class="form-control" 
            #nameInput>
        </div>
        <div class="col-sm-2 form-group">
          <label for="name">Quantity</label>
          <input 
            type="number" 
            class="form-control"
            #quantityInput>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button 
            (click)="onIngredientAdd(nameInput.value, quantityInput.value)"
            class="btn btn-success">
            Add
          </button>
          <button class="btn btn-danger">Delete</button>
          <button 
            (click)="onFormClear()"
            class="btn btn-primary">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>